body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.App {
    text-align: center;
}

abbr {
    text-underline-offset: 2px;
}

input[type=text] {
    width: 100%;
    text-align: center;
}
#GNS {
    height: 1em;
    vertical-align: middle; 
    padding: 2px;
    border: 1px solid #5ffeae;
    border-radius: 100%
}
.red-border {
    border: 2px solid red;
}